@{
    ViewData["Title"] = "Home Page";
}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="text-center">
    <div class="container p-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido a AgraMarket</h1>
            <p class="lead">¿Que te gustaría hacer?</p>
            <hr class="my-4">
            <p>Recuerda que si no tienes una cuenta la puedes crear aqui mismo</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Iniciar Sesión</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Registrarte</a>
            </p>
        </div>
    </div>
</div>
