@model AgraMarket.Models.UsuarioModel

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
    <link rel="stylesheet" href="wwwroot/css/HomeClienteStyle.css">
  </head>

  <body>
  <!--<form asp-action="VerificarUsuario" method="GET" asp-controller="User">-->
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Bienvenido,</h1>
          <p>Este es el lobby de su cuenta, aqui podra disfrutar de los mejores productos del campo. No esperes más para hacer tus pedidos hoy.</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2>Navegar la tienda</h2>
            <p>Mira todos los productos disponibles y compra todo lo que se le antoje en AgraMarket.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver productos &raquo;</a></p>
          </div>
          <div class="col-6">
            <h2>Gestionar cuenta</h2>
            <p>Aqui podrás acceder a los detalles de tu cuenta y poder cambiarlos a tu gusto.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div> 
      <div class="container">
        <div class="row">
           <div class="col-6">
            <h2>Gestionar pago</h2>
            <p>Aqui podrás acceder a tu información de pago y recargar directamente dinero a tu tarjeta.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
          </div>
          <div class="col-6">
            <h2>Cerrar sesión</h2>
            <p>Si necesitas cambiar de cuenta o crear un nuevo usuario. Regresa a la pagina principal aqui.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Cerrar sesión &raquo;</a></p>
          </div>
        </div>
       
        <hr>
      </div> 
    </main>
    <!--</form>-->
  </body>
</html>