@model AgraMarket.Models.UsuarioModel

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="../../wwwroot/css/EditarUsuarioStyle.css">
<title>Editar perfil</title>
</head>
<body>

<div class="split left">
  <div class="centered">
    <img src="wwwroot/images/registerPage.jpg" alt="cualquier cosa">
  </div>
</div>

<div class="split right">
  <form asp-action="UpdateEdicion" method="POST" asp-controller="User">
    <div class="container p-4">
        <h1>Editar perfil</h1>
        <p>Edita tu información y actualiza, para modificar tu perfil en la plataforma.</p>
        <label>Información básica</label>
          <div class="row row-space">
          <div class="col-6">
            <input type="hidden" asp-for="Id">
            <input asp-for="Nombre" type="input" class="form-control" id="Nombre", placeholder="Nombre" required>
          </div>
          <div class="col-6">
            <input asp-for="Apellido" type="input" class="form-control" id="Apellido", placeholder="Apellido" required>
          </div>
          <br><br>
          </div>
          <div class="row row-space">
          <div class="col-6">
            <input asp-for="CC" type="input" class="form-control" id="CC", placeholder="Cédula" required>
          </div>
          <div class="col-6">
            <input asp-for="Edad" type="input" class="form-control" id="Edad", placeholder="Edad" required>
          </div>
          </div>
          <br>
          <label>Información de cuenta</label>
          <div class="row row-space">
          <div class="col-6">
            <input asp-for="User" type="input" class="form-control" id="User", placeholder="Nombre usuario" required>
          </div>
          <div class="col-6">
            <input asp-for="Pass" type="password" class="form-control" id="Pass", placeholder="Contraseña" required>
          </div>
          </div>
          <br>
          <label>Información de Domicilio</label>
          <div class="row row-space">
          <div class="col-6">
            <input asp-for="Departamento" type="input" class="form-control" id="Departamento", placeholder="Departamento" required>
          </div>
          <div class="col-6">
            <input asp-for="Municipio" type="input" class="form-control" id="Municipio", placeholder="Municipio/Ciudad" required>
          </div>
          </div>
          <br>
          <div class="row row-space">
            <div class="col-6">
            <input asp-for="Direccion" type="input" class="form-control" id="Direccion", placeholder="Dirección de envio" required>
            </div>
          </div>
          <br>
          <label>Información bancaria</label>
          <div class="row row-space">
          <div class="col-6">
            <input asp-for="NumeroTarjetaCredito" type="input" class="form-control" id="NumeroTarjeta", placeholder="Numero Tarjeta o email(paypal)" required>
          </div>
          <div class="col-6">
            </label>
            <select asp-for="TipoTarjetaCredito" class="custom-select" id="TipoTarjeta">
              <option selected>Escoja una opción</option>
              <option value="Paypal">Paypal</option>
              <option value="Mastercard">Mastercard</option>
              <option value="Visa">Visa</option>
            </select>
          </div>
          </div>
          <br>
          <div class="col-md-12 text-center">
            <button type="submit" value="Editar Usuario" class="btn btn-success btn-block">Actualizar usuario</button>
            <br>
            <a asp-action="EliminarUsuario" asp-controller="User" class="link">Eliminar mi cuenta</a>
          </div>
     </div>
  </form>
</div>
</body>
</html> 