<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aceptado</title>
</head>
<body>
    <form asp-action="Index" method="POST" asp-controller="Home">
    </form>

    
</body>
</html>